*{
    padding: 0;
    margin: 0;
}
.main{
    width: 60%;
    height: auto;
    margin: 100px auto;
    overflow: hidden;
    border-radius: 3%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.main img{
    width: 100%;
    transform: scale(1.3);
    animation: zooming 4s;
    animation-fill-mode: forwards;
    border-radius: 3%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: opacity 3s ease;
}

.main img:hover{
    opacity: 0.5;
}

@keyframes zooming {
    0%{
        transform: scale(1.2);
    }

    50% {
        transform: scale(1);
    }

    100%{
       transform: scale(1.2);
    }
}
