*{
    padding: 0;
    margin: 0;
}

.container{
    width: 50%;
    height: 550px;
    background-color: lightslategray;
    margin: 49px auto;
    position: relative;
}

.container .front{
    width: 35%;
    height: 300px;
    background-image: url(image/p1.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 30%;
    left: 30%;
    z-index: 2;
    transition: 2s;
}

.front:hover{
    transform: translateY(-150px);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.container .back{
    width: 35%;
    height: 300px;
    background-color:brown;
    position: absolute;
    color: white;
    top: 35%;
    left: 30%;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#name{
    font-size: 30px;
    position: relative;
    top: 60px;
}

.social{
    font-size: 20px;
    color: white;
    padding: 10px;
    transition: color 0.5s;
}

.social:hover{
    color: blue;
}

#post{
    position: relative;
    color: yellow;
    top: 70px;
}